# yaml-language-server: $schema=https://api.cerbos.dev/latest/cerbos/policy/v1/Policy.schema.json
apiVersion: api.cerbos.dev/v1
resourcePolicy:
  version: "default"
  importDerivedRoles:
    - common_roles
  resource: "bulk_download"
  rules:
    - actions: ['*']
      effect: EFFECT_ALLOW
      derivedRoles:
        - bulk_download_owner
  schemas:
    principalSchema:
      ref: cerbos:///principal.json
