# isort: skip_file
from sqlalchemy.orm import configure_mappers

from platformics.database.models.base import Base, meta, Entity  # noqa: F401
{%- for class in classes %}
from database.models.{{ class.snake_name }} import {{ class.name }}  # noqa: F401
{%- endfor %}
from database.models.files import File, FileStatus  # noqa: F401

configure_mappers()

