import uuid
from typing import TYPE_CHECKING

from platformics.database.models.base import Entity
from sqlalchemy import ForeignKey, String, Float, Integer, Enum
from sqlalchemy.dialects.postgresql import UUID
from sqlalchemy.orm import Mapped, mapped_column, relationship

if TYPE_CHECKING:
    from database.models.files import File
else:
    File = "File"


class {{cls.name}}(Entity):
    __tablename__ = "{{ cls.snake_name }}"
    __mapper_args__ = {"polymorphic_identity": __tablename__, "polymorphic_load": "inline"}

    {%- for attr in cls.fields %}
        {%- if attr.type == "string" %}
    {{attr.name}}: Mapped[str] = mapped_column(String, nullable={{ "True" if attr.required else "False"}})
        {%- elif attr.type == "integer" %}
    {{attr.name}}: Mapped[int] = mapped_column(Integer, nullable={{ "True" if attr.required else "False"}})
        {%- elif attr.type == "float" %}
    {{attr.name}}: Mapped[int] = mapped_column(Float, nullable={{ "True" if attr.required else "False"}})
        {%- elif attr.is_enum %}
    {{attr.name}}: Mapped[{{attr.type}}] = mapped_column(Enum({{attr.type}}), nullable={{ "True" if attr.required else "False"}})
        {%- else %}
    {{attr.name}}: Mapped[{{attr.type}}] = relationship("{{attr.type}}")
        {%- endif %}
    {%- endfor %}